<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.klmb.crm.module.brd.dao.aliyunbill.BrdAliyunBillMapper">
  <select id="getBrdAliyunBill"
    resultType="cn.klmb.crm.module.brd.entity.aliyunbill.BrdAliyunBillDO">
    SELECT * from brd_aliyun_bill
    WHERE deleted = false
    <![CDATA[ and STR_TO_DATE(billing_date,'%Y-%m-%d')>=#{startPeriod} and STR_TO_DATE(billing_date,'%Y-%m-%d') <=#{endPeriod} ]]>
    order by billing_date
  </select>
</mapper>
