<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.klmb.crm.module.contract.dao.detail.ContractDetailMapper">

    <select id="list"
      resultType="cn.klmb.crm.module.contract.controller.admin.detail.vo.ContractDetailRespVO">
      SELECT cd.*,
             mu.`name` AS memberUserName,
             bd.business_name AS businessName,
             mc.`name` AS contactsName,
             su1.nickname  AS creatorName,
             su2.nickname AS ownerUserName,
             su3.nickname AS companyUserName
      FROM `contract_detail` cd
             LEFT JOIN member_user mu ON cd.member_user_id = mu.biz_id
             LEFT JOIN business_detail bd ON cd.business_id = bd.biz_id
             LEFT JOIN member_contacts mc ON mc.biz_id = cd.contacts_id
             LEFT JOIN sys_user su1 ON su1.biz_id = cd.creator
             LEFT JOIN sys_user su2 ON su2.biz_id = cd.owner_user_id
             LEFT JOIN sys_user su3 ON su3.biz_id = cd.company_user_id

    <where>
      cd.deleted = FALSE
      <if test="condition.bizIds !=null  and condition.bizIds.size > 0">
        and cd.biz_id in
        <foreach close=")" collection="condition.bizIds" index="index" item="item" open="("
          separator=",">
          #{item}
        </foreach>
      </if>
      <if test="condition.ownerUserIds !=null  and condition.ownerUserIds.size > 0">
        and cd.owner_user_id in
        <foreach close=")" collection="condition.ownerUserIds" index="index" item="item" open="("
          separator=",">
          #{item}
        </foreach>
      </if>

      <if test="condition.keyword != null and condition.keyword != ''">
        and (cd.name like concat('%', #{condition.keyword},'%') OR cd.num like concat('%',
        #{condition.keyword},'%') OR mu.name like concat('%', #{condition.keyword},'%'))
      </if>
    </where>
      order by cd.create_time desc
    </select>
  <select id="listV1"
    resultType="cn.klmb.crm.module.contract.controller.admin.detail.vo.ContractDetailRespVO">
    SELECT cd.*,
    mu.`name` AS memberUserName,
    bd.business_name AS businessName,
    mc.`name` AS contactsName,
    su1.nickname AS creatorName,
    su2.nickname AS ownerUserName
    FROM `contract_detail` cd
    LEFT JOIN member_user mu ON cd.member_user_id = mu.biz_id
    LEFT JOIN business_detail bd ON cd.business_id = bd.biz_id
    LEFT JOIN member_contacts mc ON mc.biz_id = cd.contacts_id
    LEFT JOIN sys_user su1 ON su1.biz_id = cd.creator
    LEFT JOIN sys_user su2 ON su2.biz_id = cd.owner_user_id
    <where>
      cd.deleted = FALSE
      <if test="condition.bizIds !=null  and condition.bizIds.size > 0">
        and cd.biz_id in
        <foreach close=")" collection="condition.bizIds" index="index" item="item" open="("
          separator=",">
          #{item}
        </foreach>
      </if>
      <if test="condition.ownerUserIds !=null  and condition.ownerUserIds.size > 0">
        and cd.owner_user_id in
        <foreach close=")" collection="condition.ownerUserIds" index="index" item="item" open="("
          separator=",">
          #{item}
        </foreach>
      </if>

      <if test="condition.keyword != null and condition.keyword != ''">
        and (cd.name like concat('%', #{condition.keyword},'%') OR cd.num like concat('%',
        #{condition.keyword},'%') OR mu.name like concat('%', #{condition.keyword},'%'))
      </if>
    </where>
    order by cd.create_time desc
  </select>

</mapper>
